/* ========= Important things =========== */
*{
    margin: 0;
    padding: 0;
}

/* ==================== */

/* header part start */
header {
    text-align: center;
    background-color: #010124;
    padding: 20px 0;
    margin-bottom:20px ;
}

header>ul>li>a {
    text-decoration: none;
    color: antiquewhite;
}

ul>li {
    list-style: none;
    padding-right: 10px;
    margin-right: 20px;
    padding: 20px 0;
}


header>ul {
    display: flex;
    justify-content: center;
}


/* header part end  */

/* Banner part start  */

#banner {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.699)), url("./images/Banner\ Image.png");
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    margin: auto;
    margin-top: 0;
}


#banner>h3 {
    font-size: 30px;
    color: antiquewhite;
    text-align: center;
    padding-top: 150px;
}

#banner>h1 {
    color: antiquewhite;
    text-align: center;
    font-size: 80px;
    margin-top: 30px;
}

/* banner part end */
/* Offer part start */
#offer-section {
    width: 1320px;
    text-align: center;
    margin: auto;
    margin-top: 70px;
}

.offer-title {
    font-size: 60px;
    color: #db0c0c;
    margin-top: 70px;
    margin-bottom: 30px;
}

.offer-tagline {
    font-size: 22px;
    margin-top: 0px;
    color: #c51414;
}

.categories {
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #040346;
}

/* offer part end */
/* midnight part */
#midnight-party {
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    margin: auto;
    margin-top: 70px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.048)), url(images/Vectorrr.png);

}

.welcome-title {
    font-size: 60px;
    color: antiquewhite;
    padding-top: 100px;
    margin-bottom: 30px;
    margin-left:70px;
}

.party-msg {
    font-size: 18px;
    line-height: 30px;
    text-transform: capitalize;
    color: #faebd7c2;
    width: 40%;
    margin-left: 70px;
}

.midnight-btn {
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background: none;
    color: antiquewhite;
    cursor: pointer;
    margin-left: 70px;
}

/* midnight part end */
/* about part start */
#about{
    width: 1320px;
    margin: auto;
    margin-top: 70px;
    background-color: #c514142f;
    border-radius: 20px;
    
}
.about-wraper{
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 100px;
}
.about-img .about-text{
    width: 33.3%;
}
.about-text1{
    width: auto;
    text-align: left;
    margin-right: 50px;
}
.about-text2{
    width: auto;
    text-align: left;
    margin-left: 50px;
}
.about-image{
    width: 200px;
    padding: 10px;
    border: 4px solid #c51414;
    border-radius: 50%;
}
.new-offer {
    font-size: 22px;
    font-weight: 600;
    color: #c51414;
    margin: 15px 0;
}
.year{
    font-size: 26px;
    font-weight: 600;
    color: #c51414;
    margin: 15px 0;
}
.about-title{
    font-size: 32px;
    font-weight: 700;
    color: #040346;
    margin: 0;
}
.about-msg{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-transform: capitalize;
    color: #0101248f;
}
/* about part end */

/* portfolio start */
#portfolio{
    width: 1320px;
    margin: auto;
    margin-top: 70px;

}
.portfolio-txt-wrap{
    padding-left: 70px;
}

.img-wrap-1 {
    text-align: center;
    margin: auto;
    
}
.img-wrap-2{
    margin: auto;
    text-align: center;
}

.portfolio-img{
    width: 400px;
    margin: auto;
    margin :10px 10px;
}

.portfolio-img:hover{
    transform: scaleY(1.2);
    transition: 0.5s;
}

.gifts{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0px;
    color: #c51414;
}

.portfolio-title{
    font-size: 40px;
    margin-top: 10px;
    color: #040346;
}

.portfolio-msg{
    width: 600px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #0403469f;
}
/* portfolio end */
/* newsletter start */
#newsletter{
    width: 1320px;
    margin: auto;
    text-align: center;
    margin-top: 70px;
    background-color: moccasin;
    margin-bottom: 70px;
    padding: 70px 70px ;
    border-radius: 20px;
}

.news-title{
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 0;
    color: #040346;
}

.news-msg{
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    margin-top: 15px;
    margin-bottom: 40px;
    text-transform: capitalize;
    color: #0403469f;
}
.news-img{
    width: 85px;
}

.news-bar{
    border: none;
    border-radius: 25px 0px 0px 25px;
    padding: 20px 60px;
}

.news-btn{
    border: none;
    border-radius: 0px 25px 25px 0px ;
    padding: 20px 60px;
    margin: 0 -3px;
    cursor: pointer;
    background: #c51414;
    color: antiquewhite;
}

/* newsletter end */
/* footer start */
footer{
    background-color: #010124;
    padding: 100px 0px;
    margin-top: 70px;
}
.footer-wrap{
    width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;

}


.adress1{
    width: 300px;
    text-align: left;
    color: #faebd7c0;
    text-transform: capitalize;
    margin-top: 20px;
}

.phone-text{
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 20px;
}
.phone-text1{
    margin-left: 10px;
    margin-bottom: 5px;
}

.website-text{
    margin-left: 10px;
}
.phone{
    display: flex;
    text-align: left;
    justify-content: baseline;
    color: #faebd7c0;
    margin-bottom: 20px;
}
.phone1{
    display: flex;
    text-align: left;
    justify-content: baseline;
    color: #faebd7c0;
}

.phone-img{
    margin-bottom: 5px;
}

.hr{
    width: 1320px;
    border: 1px solid #faebd760;
    margin: auto;
}
.social-icons{
    text-align: center; 
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.icons{
    width: 50px;
    margin-left: 10px;
}

.icons:hover{
    transform: scaleY(1.2);
    transition: 0.5s;
}

/* footer end  */


